* {
  box-sizing: border-box;
}

nav {
  background-color: #EDEFEE;
  display: flex;
}

.logo {
  margin-left: 350px;
}

ul {
  list-style: none;
}

.nav-li {
  display: inline;
  margin: 20px;
}

a {
  color: black;
  font-size: 16pt;
  font-family: 'Markazi Text', serif;
  text-decoration: none;
}

.hero {
  background-color: #495E57;
}

.little {
  color: #F4CE14;
  font-family: 'Karla', sans-serif;
  font-size: 40pt;
}

.chic {
  color: #EDEFEE;
  font-family: 'Karla', sans-serif;
  font-size: 18pt;
}

.desc {
  color: #EDEFEE;
  font-size: 18pt;
  font-family: 'Karla', sans-serif;
  line-height: 1.5;
}

button {
  color: black;
  height: 30px;
  border: none;
  font-size: 16pt;
  font-family: 'Markazi Text', serif;
  border-radius: 10px;
  background-color: #F4CE14;
}

.spec {
  font-size: 18pt;
  font-family: 'Markazi Text', serif;
}

.menu {
  height: 100px;
  width: 50px;
}

.highlight {
  display: grid;
  grid-gap: 150px;
  grid-template-columns: 100px 100px 100px;
}

.menu {
  height: 300px;
  width: 200px;
}

.details {
  background-color: #495E57;
}